@import "global:/s3/makeup/sass/defaults/normalize-3.0.3.scss";
@import "global:/s3/makeup/sass/defaults/print.scss";
@import "global:/s3/makeup/sass/defaults/classes.scss";

//@include text-shadow-base-styles;

.hide{display: none;}
.show{display: block;}
.invisible{visibility: hidden;}
.visible{visibility: visible;}
.reset-indents{@include reset-indents;}
.reset-font{@include reset-font;}
.clear-list{@include clear-list;}
.clearfix{@include clearfix;}
.clear {
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}
.clear-self::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}
.overflowHidden {
    overflow: hidden;
}
.thumb, .YMaps, .ymaps-map {color:#000;}
.table {display: table;
    .tr {display: table-row;
        .td {display: table-cell;}
    }
}
.table0, .table1, .table2 {
    border-collapse: collapse;
    td {padding: $tablePadding;}
}
.table1, .table2 {
    border: $tableBorder;
    td, th {border: $tableBorder;}
}
.table2 th {padding: $tablePadding;color:$tableThColor;background:$tableThBackground;}